<div class="page-header">
  <h1>
    Volunteers
    <a href="/volunteers/new" class="btn btn-lg btn-success">New Volunteer</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Email</th>
        <th>Password</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Phone number</th>
        <th>Actions</th>
      </tr>

      <% @volunteers.each do |volunteer| %>
      <tr>
        <td><%= volunteer.email %></td>
        <td><%= volunteer.password %></td>
        <td><%= volunteer.first_name %></td>
        <td><%= volunteer.last_name %></td>
        <td><%= volunteer.phone_number %></td>
        <td>
          <a href="/volunteers/<%= volunteer.id %>" class="btn btn-primary">Show</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @volunteers, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
