<div class="page-header">
  <h3>Task #<%= @task.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Task name</dt>
      <dd><%= @task.task_name %></dd>

      <dt>Task link</dt>
      <dd><%= @task.task_link %></dd>

      <dt>Assigned points</dt>
      <dd><%= @task.assigned_points %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/tasks" class="btn btn-primary">
        Back
      </a>
      <a href="/tasks/<%= @task.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_task/<%= @task.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Task has many organizational_tasks -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Organizational Tasks
      </li>

      <% @task.organizational_tasks.each do |organizational_task| %>
        <li class="list-group-item">
          <a href="/organizational_tasks/<%= organizational_task.id %>">
            <%= organizational_task.organization_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/organizational_tasks/<%= organizational_task.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/organizational_tasks/<%= organizational_task.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_organizational_task/<%= organizational_task.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_organizational_task" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for organization_id -->
      <input type="hidden" name="organization_id" value="<%= current_user.id %>">

      <!-- Label and input for task_id -->
      <input type="hidden" name="task_id" value="<%= @task.id %>">

      <!-- Label and input for limit_tasks -->
      <div class="form-group">
        <label for="limit_tasks" class="control-label">
          Limit tasks
        </label>

        <input type="text" id="limit_tasks" name="limit_tasks" placeholder="Limit tasks" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Organizational Task
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
