<!-- Validation failure messages -->
<% if @organizational_task.errors.any? %>
  <% @organizational_task.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Organizational Task</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_organizational_task" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for organization_id -->
      <div class="form-group">
        <label for="organization_id" class="control-label">
          Organization
        </label>

        <%= select_tag(:organization_id, options_from_collection_for_select(Organization.all, :id, :created_at, @organizational_task.organization_id), :class => "form-control") %>
      </div>

      <!-- Label and input for task_id -->
      <div class="form-group">
        <label for="task_id" class="control-label">
          Task
        </label>

        <%= select_tag(:task_id, options_from_collection_for_select(Task.all, :id, :task_name, @organizational_task.task_id), :class => "form-control") %>
      </div>

      <!-- Label and input for limit_tasks -->
      <div class="form-group">
        <label for="limit_tasks" class="control-label">
          Limit tasks
        </label>

        <input type="text" id="limit_tasks" name="limit_tasks" placeholder="Limit tasks" class="form-control" value="<%= @organizational_task.limit_tasks %>">
      </div>

      <button class="btn btn-success">
        Create Organizational Task
      </button>
      or
      <a href="/organizational_tasks">Cancel</a>
    </form>
  </div>
</div>
