<div class="page-header">
  <h3>Organizational Task #<%= @organizational_task.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Organization</dt>
      <dd><%= @organizational_task.organization_id %></dd>

      <dt>Task</dt>
      <dd><%= @organizational_task.task_id %></dd>

      <dt>Limit tasks</dt>
      <dd><%= @organizational_task.limit_tasks %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/organizational_tasks" class="btn btn-primary">
        Back
      </a>
      <a href="/organizational_tasks/<%= @organizational_task.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_organizational_task/<%= @organizational_task.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Organizational task has many volunteer_activity_logs -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Volunteer Activity Logs
      </li>

      <% @organizational_task.volunteer_activity_logs.each do |volunteer_activity_log| %>
        <li class="list-group-item">
          <a href="/volunteer_activity_logs/<%= volunteer_activity_log.id %>">
            <%= volunteer_activity_log.volunteer_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/volunteer_activity_logs/<%= volunteer_activity_log.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/volunteer_activity_logs/<%= volunteer_activity_log.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_volunteer_activity_log/<%= volunteer_activity_log.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
