<div class="page-header">
  <h1>
    Organizational rewards
    <a href="/organizational_rewards/new" class="btn btn-lg btn-success">New Organizational reward</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Organization</th>
        <th>Reward</th>
        <th>Actions</th>
      </tr>

      <% @organizational_rewards.each do |organizational_reward| %>
      <tr>
        <td>
          <% if organizational_reward.organization.present? %>
            <a href="/organizations/<%= organizational_reward.organization.id %>">
              <%= organizational_reward.organization.created_at %>
            </a>
          <% end %>
        </td>
        <td>
          <% if organizational_reward.reward.present? %>
            <a href="/rewards/<%= organizational_reward.reward.id %>">
              <%= organizational_reward.reward.reward_name %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/organizational_rewards/<%= organizational_reward.id %>" class="btn btn-primary">Show</a>
          <a href="/organizational_rewards/<%= organizational_reward.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_organizational_reward/<%= organizational_reward.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @organizational_rewards, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
