<div class="page-header">
  <h3>Organizational Reward #<%= @organizational_reward.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Organization</dt>
      <dd>
        <% if @organizational_reward.organization.present? %>
          <a href="/organizations/<%= @organizational_reward.organization_id %>">
            <%= @organizational_reward.organization.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Reward</dt>
      <dd><%= @organizational_reward.reward_id %></dd>

      <dt>Assigned points</dt>
      <dd><%= @organizational_reward.assigned_points %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/organizational_rewards" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @organizational_reward.organization %>
        <a href="/organizational_rewards/<%= @organizational_reward.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_organizational_reward/<%= @organizational_reward.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
